body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: white
}

.count {
	font-size: 4em;
	padding: 0.1em;
	border: 2px solid;
	background-color: orchid;
	border-radius: 0.1em;
}

.heading {
	display: inline;
}

.section {
	flex: 1;
	background-color: #FFBF00;
	padding: 2em;
	margin: 1em;
	border-radius: 0.5em;

	box-shadow: 2px 2px black, 3px 3px black, 4px 4px black;
	border: 2px solid black;
}

.message-box {
	display: flex;
	justify-content: center;
	border-radius: 5px;
	margin-top: 20px;
	padding: 5px;
}

.green {
	background-color: #0804;
	border: 2px solid #080;
}

.red {
	background-color: #f004;
	border: 2px solid #f00;
}

button {

	padding: 1em;
	border-radius: 0.5em;
	font-weight: bold;
}

.total {
	font-weight: bold;
}

.mt1 {
	margin-top: 1em;
}

.mt2 {
	margin-top: 2em;
}

.unitsAvailable {
	font-size: 200%;
}

.hidden {
	display: none;
}

@media (min-width: 768px) {
	.sections {
		display: flex;
	}
}